<ion-header>
  <ion-toolbar class="nav">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="warning" mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Contexto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title color="warning">Contexto del caso</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="parrafo">
        RegistrApp es una aplicación móvil creada para los alumnos de Duoc UC, que permite
        automatizar y agilizar el proceso de asistencia.
        Esto con el fin de reducir la mayor cantidad de errores humanos en el proceso.
      </p>
    </ion-card-content>
    <ion-card>
      <img src="assets/duoc.png" class="ion-padding">
    </ion-card>
  </ion-card>
  <br>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title color="warning">Funcionamiento de la app</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="parrafo">
        El profesor después de la clase, ingresa sus credenciales para posteriormente generar un código QR,
        el cual los alumnos previamente registrados y por medio de la app, lo escanearán para así confirmar su asistencia.
      </p>
    </ion-card-content>
    <ion-card>
      <img src="assets/codigo.jpg" class="ion-padding">
    </ion-card>
  </ion-card>
</ion-content>