.img{
    width: auto;
    align-content: center;
    right: auto;
    left: auto;
}

.texto{
    color: goldenrod;
}
.nombre{
    text-align: center;
    color: goldenrod;
    width: auto;
    left: auto;
    right: auto;
}

h3{
    float: left;
    position: absolute; top: 0;
    margin-top: 12px;
    font-size: 12px;
}